extends layout

block content
    h1 Home page
    h2 Welcome !{username}! Select a stream.
    a(href='/logout')
        p Logout
    form(method='GET' action='/streamer')
        label(for='channel') Channel:
        input#channel.form-control(placeholder='Ninja' name='channel')
        button.btn.btn-primary Submit
